[submodule "provision/modules/puppet"]
	path = provision/modules/puppet
	url = https://github.com/LStuker/puppet-puppet
[submodule "provision/modules/apt"]
	path = provision/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt
[submodule "provision/modules/stdlib"]
	path = provision/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
